<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div id="app" class="row">
            <div class="col-md-3">
                                        
                <h3>Add user</h3>

                <p v-if="errors.length">
                    <b>Please, fill the next fields:</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                    </p>

                <div class="form-group">
                    <label for="exampleInputName">Name</label>
                    <input type="text" class="form-control" name="name" id="exampleInputName" v-model="user.name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="user.email">
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" name="avatar" id="customFile" @change="addAvatar">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <button class="btn btn-primary"  @click="addUser">Submit</button>                          
            </div>
            <div class="col-md-9">
                
                <div class="mb-3">
                    <label for="search-element">Search user</label>
                    <input v-model="searchKey" class="form-control" id="search-element" />
                </div>
                
                <table class="table  table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(user, index) in filteredUsers" :key="user.id">
                            <th scope="row">{{ user.id }}</th>
                            <td> 
                                 <img :src="user.avatar" class="img-fluid" style="max-width: 100%; height: 100%;" alt=""> 
                            </td>
                            <td> 
                                <input v-if="user.edit" type="text" v-model="user.name"  v-on:keyup.enter="user.edit = !user.edit">
                                <span v-else>{{user.name}}     
                            </td>
                            <td> <input v-if="user.edit" type="text" v-model="user.email"  v-on:keyup.enter="user.edit = !user.edit">
                                <span v-else>{{user.email}}   
                            </td>
                            <td> <button type="button" class="btn btn-warning" @click="user.edit = !user.edit">
                                Edit
                                </button> </td>
                            <td> <button class="btn btn-danger" @click="deleteUser(index)">Delete</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
    
</body>
</html>